{% extends "base.html" %}
{% block content %}
    <!-- content panel -->
    <div class="main-panel">
        <!-- main area -->
        <div class="main-content">
            <div class="panel">
                <div class="panel-heading border">
                    <ol class="breadcrumb mb0 no-padding">
                        <li>
                            <a href="{% url 'top' %}">ホーム</a>
                        </li>
                        <li>
                            <a href="{% url 'user_list' %}">ユーザー</a>
                        </li>
                    </ol>
                </div>
                <div class="panel-body">
                    <span class="input-group-btn">
                        <a href="{% url 'add_user' %}">
                            <button class="btn btn-default pull-right" type="submit"> ユーザを新規追加 </button>
                        </a>
                    </span>
                    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Admin権限</th>
                            <th>活動状況</th>
                            <th>ユーザーネーム</th>
                            <th>ニックネーム</th>
                            <th>メールアドレス</th>
                            <th>登録日</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.is_admin }}</td>
                                <td>{{ user.is_active }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.nickname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.date_joined }}</td>
                                <td><a href="{% url 'edit_user' user_id=user.id %}" class="edit"> 編集 </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
{% endblock %}
