{% extends "base.html" %}
{% block content %}
    <!-- content panel -->
    <div class="main-panel">
        <!-- main area -->
        <div class="main-content">
            <div class="panel">
                <div class="panel-heading border">
                    <ol class="breadcrumb mb0 no-padding">
                        <li>
                            <a href="{% url 'top' %}">ホーム</a>
                        </li>
                        <li>
                            <a href="{% url 'tournament_list' %}"> 大会 </a>
                        </li>
                    </ol>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>大会名</th>
                            <th>ゲーム</th>
                            <th>プラットフォーム</th>
                            <th>大会フォーマット</th>
                            <th>開催日</th>
                            <th>終了日</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in tournaments %}
                            <tr>
                                <td>{{ t.id }}</td>
                                <td>{{ t.name }}</td>
                                <td>{{ t.game.discipline.name }}</td>
                                <td>{{ t.game.platform.display_name }}</td>
                                <td>{{ t.match_format.display_name }}</td>
                                <td>{{ t.date_start }}</td>
                                <td>{{ t.date_end }}</td>
                                <td><a href="https://organizer.toornament.com/tournaments/{{ t.api_tournament_id }}"
                                       target="_blank" class="edit"> トーナメント生成 </a></td>
                                <td><a href="{% url 'edit_tournament' tournament_id=t.id %}" class="edit">編集</a></td>
                                <td><a href="{% url 'delete_tournament' tournament_id=t.id %}" class="edit">削除</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
{% endblock %}
