.DS_Store
*.pyc
*.tsv
*.swp
*.csv
*.msg
*.egg-info
*~
*#
/.idea

log/

recod_admin/database.py
recod_admin/static_settings.py
account/migrations
team/migrations
.python-version
template/*
staticfiles/
