{% extends "base.html" %}
{% block content %}
    <!-- content panel -->
    <div class="main-panel">
        <!-- main area -->
        <div class="main-content">
            <div class="panel">
                <div class="panel-heading border">
                    <ol class="breadcrumb mb0 no-padding">
                        <li>
                            <a href="{% url 'top' %}">ホーム</a>
                        </li>
                        <li>
                            <a href="{% url 'forum_list' %}">フォーム</a>
                        </li>
                        <li>
                            <a href="{% url 'topic_list' forum_id=forum_id %}">トピック</a>
                        </li>
                    </ol>
                </div>
                <div class="panel-body">
                    <span class="input-group-btn">
                        <a href="{% url 'create_thread' forum_id=forum_id topic_id=topic_id %}">
                            <button class="btn btn-default pull-right" type="submit"> 新規スレッドの作成 </button>
                        </a>
                    </span>
                    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
                        <thead>
                        <tr>
                            <th>内容</th>
                            <th>作成者</th>
                            <th>投稿日</th>
                            <th>更新日</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for thread in threads %}
                            <tr>
                                <td>{{ thread.description }}</td>
                                <td>{{ thread.user.nickname }}</td>
                                <td>{{ thread.created_at }}</td>
                                <td>{{ thread.updated_at.date }}</td>
                                <td>
                                    <a href="{% url 'edit_thread' forum_id=forum_id topic_id=topic_id thread_id=thread.id %}"
                                       class="edit"> 編集 </a>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
{% endblock %}
