{% extends "base.html" %}
{% block content %}
    <!-- content panel -->
    <div class="main-panel">
        <!-- main area -->
        <div class="main-content">
            <div class="panel">
                <div class="panel-heading border">
                    <ol class="breadcrumb mb0 no-padding">
                        <li>
                            <a href="{% url 'top' %}">ホーム</a>
                        </li>
                        <li>
                            <a href="{% url 'competition_list' %}"> 大会 </a>
                        </li>
                    </ol>
                </div>
                <div class="panel-body">
                    <span class="input-group-btn">
                        <a href="{% url 'create_competition' %}"><button class="btn btn-primary"
                                                                         type="button"> 新規追加 </button></a>
                    </span>
                    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>大会名</th>
                            <th>ゲーム</th>
                            <th>プラットフォーム</th>
                            <th>開催日</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in competitions %}
                            <tr>
                                <td>{{ c.id }}</td>
                                <td>{{ c.name }}</td>
                                <td>{{ c.game.title }}</td>
                                <td>{{ c.game.platform.name }}</td>
                                <td>{{ c.start_date }}</td>
                                <td><a href="{% url 'edit_competition' competition_id=c.id %}" class="edit">編集</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
{% endblock %}
