{% extends "base.html" %}
{% block content %}
    <!-- content panel -->
    <div class="main-panel">
        <!-- main area -->
        <div class="main-content">
            <div class="panel">
                <div class="panel-heading border">
                    <ol class="breadcrumb mb0 no-padding">
                        <li>
                            <a href="{% url 'top' %}"> ホーム </a>
                        </li>
                        <li>
                            <a href="{% url 'game_list' %}"> ゲーム </a>
                        </li>
                    </ol>
                </div>
                <div class="panel-body">
                    <span class="input-group-btn">
                        <a href="{% url 'add_game' %}"><button class="btn btn-primary" type="button"> 新規追加 </button></a>
                    </span>
                    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>タイトル</th>
                            <th>プラットフォーム</th>
                            <th>公式URL</th>
                            <th>アクティブ</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in games %}
                            <tr>
                                <td>{{ game.id }}</td>
                                <td>{{ game.title }}</td>
                                <td>{{ game.platform.name }}</td>
                                <td>{{ game.home_url }}</td>
                                <td>{{ game.is_active }}</td>
                                <td><a href="{% url 'edit_game' game_id=game.id %}" class="edit">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
{% endblock %}
