{% extends "base.html" %}
{% block content %}
    <!-- content panel -->
    <div class="main-panel">
        <!-- main area -->
        <div class="main-content">
            <div class="panel">
                <div class="panel-heading border">
                    <ol class="breadcrumb mb0 no-padding">
                        <li>
                            <a href="{% url 'top' %}"> ホーム </a>
                        </li>
                        <li>
                            <a href="{% url 'team_list' %}"> チーム </a>
                        </li>
                    </ol>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>チーム名</th>
                            <th>ゲーム</th>
                            <th>プラットフォーム</th>
                            <th>管理者</th>
                            <th>メンバー</th>
                            <th>活動状態</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>{{ team.id }}</td>
                                <td>{{ team.teamname }}</td>
                                <td>{{ team.game.title }}</td>
                                <td>{{ team.game.platform.name }}</td>
                                <td>{{ team.organizer }}</td>
                                <td>{{ team.members }}</td>
                                <td>{{ team.is_active }}</td>
                                <td><a href="{% url 'edit_team' team_id=team.id %}" class="edit">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /main area -->
    </div>
    <!-- /content panel -->
{% endblock %}
